.ff0 {
  font-family: sans-serif;
  visibility: hidden;
}
.m0 {
  transform: matrix(0.25, 0, 0, 0.25, 0, 0);
  -ms-transform: matrix(0.25, 0, 0, 0.25, 0, 0);
  -webkit-transform: matrix(0.25, 0, 0, 0.25, 0, 0);
}
.v0 {
  vertical-align: 0px;
}
.ls5 {
  letter-spacing: 0px;
}
.ls8 {
  letter-spacing: 0.08px;
}
.ls9 {
  letter-spacing: 0.12px;
}
.ls2 {
  letter-spacing: 0.19152px;
}
.ls6 {
  letter-spacing: 0.24px;
}
.ls4 {
  letter-spacing: 0.44688px;
}
.ls1 {
  letter-spacing: 0.48px;
}
.ls3 {
  letter-spacing: 0.96px;
}
.ls0 {
  letter-spacing: 8.784px;
}
.ls7 {
  letter-spacing: 32.4px;
}
.sc_ {
  text-shadow: none;
}
.sc3 {
  text-shadow: -0.015em 0 rgb(56, 118, 29), 0 0.015em rgb(56, 118, 29),
    0.015em 0 rgb(56, 118, 29), 0 -0.015em rgb(56, 118, 29);
}
.sc2 {
  text-shadow: -0.015em 0 rgb(255, 0, 0), 0 0.015em rgb(255, 0, 0),
    0.015em 0 rgb(255, 0, 0), 0 -0.015em rgb(255, 0, 0);
}
.sc1 {
  text-shadow: -0.015em 0 rgb(0, 0, 0), 0 0.015em rgb(0, 0, 0),
    0.015em 0 rgb(0, 0, 0), 0 -0.015em rgb(0, 0, 0);
}
.sc0 {
  text-shadow: -0.015em 0 transparent, 0 0.015em transparent,
    0.015em 0 transparent, 0 -0.015em transparent;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .sc_ {
    -webkit-text-stroke: 0px transparent;
  }
  .sc3 {
    -webkit-text-stroke: 0.015em rgb(56, 118, 29);
    text-shadow: none;
  }
  .sc2 {
    -webkit-text-stroke: 0.015em rgb(255, 0, 0);
    text-shadow: none;
  }
  .sc1 {
    -webkit-text-stroke: 0.015em rgb(0, 0, 0);
    text-shadow: none;
  }
  .sc0 {
    -webkit-text-stroke: 0.015em transparent;
    text-shadow: none;
  }
}
.ws2 {
  word-spacing: -104.64px;
}
.ws0 {
  word-spacing: -72px;
}
.ws3 {
  word-spacing: -64.32px;
}
.ws4 {
  word-spacing: -64.28688px;
}
.ws7 {
  word-spacing: -63.84px;
}
.ws5 {
  word-spacing: -32.16px;
}
.ws1 {
  word-spacing: -15.96px;
}
.ws6 {
  word-spacing: 0px;
}
._2 {
  margin-left: -10.08352px;
}
._3 {
  margin-left: -1.08112px;
}
._0 {
  width: 1.04624px;
}
._1 {
  width: 33.07328px;
}
.fc3 {
  color: rgb(56, 118, 29);
}
.fc2 {
  color: rgb(255, 0, 0);
}
.fc1 {
  color: rgb(0, 0, 255);
}
.fc0 {
  color: rgb(0, 0, 0);
}
.fs1 {
  font-size: 63.84px;
}
.fs0 {
  font-size: 72px;
}
.fs2 {
  font-size: 104.16px;
}
.y0 {
  bottom: -0.5px;
}
.y1 {
  bottom: 0px;
}
.y67 {
  bottom: 11.88px;
}
.y65 {
  bottom: 12.6px;
}
.y64 {
  bottom: 33.36px;
}
.y1a {
  bottom: 73.104px;
}
.y4a {
  bottom: 79.584px;
}
.y34 {
  bottom: 87.744px;
}
.y19 {
  bottom: 100.82px;
}
.y63 {
  bottom: 104.9px;
}
.y33 {
  bottom: 110.06px;
}
.y49 {
  bottom: 110.18px;
}
.y18 {
  bottom: 123.14px;
}
.y48 {
  bottom: 132.38px;
}
.y32 {
  bottom: 132.5px;
}
.y52 {
  bottom: 135.26px;
}
.y17 {
  bottom: 145.46px;
}
.y47 {
  bottom: 157.7px;
}
.y31 {
  bottom: 162.98px;
}
.y16 {
  bottom: 167.9px;
}
.y62 {
  bottom: 178.7px;
}
.y30 {
  bottom: 185.3px;
}
.y46 {
  bottom: 185.42px;
}
.y15 {
  bottom: 198.38px;
}
.y45 {
  bottom: 207.62px;
}
.y2f {
  bottom: 210.5px;
}
.y61 {
  bottom: 219.17px;
}
.y14 {
  bottom: 220.73px;
}
.y44 {
  bottom: 230.09px;
}
.y2e {
  bottom: 238.37px;
}
.y13 {
  bottom: 245.93px;
}
.y60 {
  bottom: 249.53px;
}
.y43 {
  bottom: 252.53px;
}
.y2d {
  bottom: 260.57px;
}
.y12 {
  bottom: 273.77px;
}
.y5f {
  bottom: 280.01px;
}
.y51 {
  bottom: 282.89px;
}
.y2c {
  bottom: 283.01px;
}
.y11 {
  bottom: 295.97px;
}
.y2b {
  bottom: 305.33px;
}
.y50 {
  bottom: 308.09px;
}
.y5e {
  bottom: 310.37px;
}
.y10 {
  bottom: 318.41px;
}
.y42 {
  bottom: 330.53px;
}
.y2a {
  bottom: 335.93px;
}
.yf {
  bottom: 340.73px;
}
.y29 {
  bottom: 358.13px;
}
.y41 {
  bottom: 358.25px;
}
.y5d {
  bottom: 371.21px;
}
.ye {
  bottom: 371.33px;
}
.y40 {
  bottom: 380.59px;
}
.y28 {
  bottom: 383.47px;
}
.yd {
  bottom: 393.55px;
}
.y5c {
  bottom: 401.59px;
}
.y3f {
  bottom: 402.91px;
}
.y27 {
  bottom: 411.19px;
}
.yc {
  bottom: 418.87px;
}
.y3e {
  bottom: 425.35px;
}
.y5b {
  bottom: 431.95px;
}
.y26 {
  bottom: 433.51px;
}
.yb {
  bottom: 446.59px;
}
.y4f {
  bottom: 455.71px;
}
.y25 {
  bottom: 455.83px;
}
.y5a {
  bottom: 462.31px;
}
.ya {
  bottom: 468.91px;
}
.y3d {
  bottom: 478.15px;
}
.y24 {
  bottom: 478.27px;
}
.y4e {
  bottom: 481.03px;
}
.y9 {
  bottom: 491.23px;
}
.y59 {
  bottom: 492.79px;
}
.y3c {
  bottom: 503.35px;
}
.y23 {
  bottom: 508.75px;
}
.y8 {
  bottom: 513.67px;
}
.y58 {
  bottom: 523.15px;
}
.y22 {
  bottom: 531.07px;
}
.y3b {
  bottom: 531.19px;
}
.y7 {
  bottom: 544.15px;
}
.y3a {
  bottom: 553.42px;
}
.y57 {
  bottom: 553.54px;
}
.y21 {
  bottom: 556.3px;
}
.y6 {
  bottom: 566.5px;
}
.y39 {
  bottom: 575.86px;
}
.y56 {
  bottom: 583.9px;
}
.y20 {
  bottom: 584.02px;
}
.y5 {
  bottom: 591.7px;
}
.y38 {
  bottom: 598.18px;
}
.y1f {
  bottom: 606.34px;
}
.y55 {
  bottom: 609.1px;
}
.y4 {
  bottom: 623.38px;
}
.y1e {
  bottom: 628.78px;
}
.y4d {
  bottom: 631.54px;
}
.y54 {
  bottom: 636.82px;
}
.y37 {
  bottom: 650.98px;
}
.y1d {
  bottom: 651.1px;
}
.y53 {
  bottom: 659.14px;
}
.y4c {
  bottom: 659.26px;
}
.y3 {
  bottom: 663.82px;
}
.y68 {
  bottom: 665.62px;
}
.y36 {
  bottom: 676.3px;
}
.y4b {
  bottom: 681.46px;
}
.y1c {
  bottom: 681.58px;
}
.y66 {
  bottom: 687.58px;
}
.y2 {
  bottom: 693.82px;
}
.y1b {
  bottom: 703.9px;
}
.y35 {
  bottom: 704.02px;
}
.h7 {
  height: 26.424px;
}
.h6 {
  height: 49.44px;
}
.h3 {
  height: 54.36375px;
}
.h5 {
  height: 55.2216px;
}
.h8 {
  height: 66.364922px;
}
.h2 {
  height: 73.722656px;
}
.h4 {
  height: 88.69875px;
}
.h0 {
  height: 792px;
}
.h1 {
  height: 792.5px;
}
.w3 {
  width: 29.04px;
}
.w4 {
  width: 29.064px;
}
.w5 {
  width: 29.16px;
}
.w6 {
  width: 29.184px;
}
.w2 {
  width: 611.999991px;
}
.w0 {
  width: 612px;
}
.w1 {
  width: 612.5px;
}
.x0 {
  left: 0px;
}
.x8 {
  left: 6.48px;
}
.x7 {
  left: 10.44px;
}
.x6 {
  left: 68.064px;
}
.x2 {
  left: 72.023991px;
}
.x1 {
  left: 90.023991px;
}
.x9 {
  left: 98.184px;
}
.xa {
  left: 128.18px;
}
.xb {
  left: 158.3px;
}
.xc {
  left: 188.42px;
}
.xd {
  left: 218.45px;
}
.xe {
  left: 248.57px;
}
.x3 {
  left: 266.809991px;
}
.xf {
  left: 278.69px;
}
.x5 {
  left: 279.889991px;
}
.x10 {
  left: 308.81px;
}
.x11 {
  left: 338.95px;
}
.x12 {
  left: 369.07px;
}
.x13 {
  left: 399.07px;
}
.x14 {
  left: 429.19px;
}
.x15 {
  left: 459.34px;
}
.x16 {
  left: 489.46px;
}
.x4 {
  left: 540.099991px;
}
@media print {
  .v0 {
    vertical-align: 0pt;
  }
  .ls5 {
    letter-spacing: 0pt;
  }
  .ls8 {
    letter-spacing: 0.106667pt;
  }
  .ls9 {
    letter-spacing: 0.16pt;
  }
  .ls2 {
    letter-spacing: 0.25536pt;
  }
  .ls6 {
    letter-spacing: 0.32pt;
  }
  .ls4 {
    letter-spacing: 0.59584pt;
  }
  .ls1 {
    letter-spacing: 0.64pt;
  }
  .ls3 {
    letter-spacing: 1.28pt;
  }
  .ls0 {
    letter-spacing: 11.712pt;
  }
  .ls7 {
    letter-spacing: 43.2pt;
  }
  .ws2 {
    word-spacing: -139.52pt;
  }
  .ws0 {
    word-spacing: -96pt;
  }
  .ws3 {
    word-spacing: -85.76pt;
  }
  .ws4 {
    word-spacing: -85.71584pt;
  }
  .ws7 {
    word-spacing: -85.12pt;
  }
  .ws5 {
    word-spacing: -42.88pt;
  }
  .ws1 {
    word-spacing: -21.28pt;
  }
  .ws6 {
    word-spacing: 0pt;
  }
  ._2 {
    margin-left: -13.444693pt;
  }
  ._3 {
    margin-left: -1.441493pt;
  }
  ._0 {
    width: 1.394987pt;
  }
  ._1 {
    width: 44.097707pt;
  }
  .fs1 {
    font-size: 85.12pt;
  }
  .fs0 {
    font-size: 96pt;
  }
  .fs2 {
    font-size: 138.88pt;
  }
  .y0 {
    bottom: -0.666667pt;
  }
  .y1 {
    bottom: 0pt;
  }
  .y67 {
    bottom: 15.84pt;
  }
  .y65 {
    bottom: 16.8pt;
  }
  .y64 {
    bottom: 44.48pt;
  }
  .y1a {
    bottom: 97.472pt;
  }
  .y4a {
    bottom: 106.112pt;
  }
  .y34 {
    bottom: 116.992pt;
  }
  .y19 {
    bottom: 134.426667pt;
  }
  .y63 {
    bottom: 139.866667pt;
  }
  .y33 {
    bottom: 146.746667pt;
  }
  .y49 {
    bottom: 146.906667pt;
  }
  .y18 {
    bottom: 164.186667pt;
  }
  .y48 {
    bottom: 176.506667pt;
  }
  .y32 {
    bottom: 176.666667pt;
  }
  .y52 {
    bottom: 180.346667pt;
  }
  .y17 {
    bottom: 193.946667pt;
  }
  .y47 {
    bottom: 210.266667pt;
  }
  .y31 {
    bottom: 217.306667pt;
  }
  .y16 {
    bottom: 223.866667pt;
  }
  .y62 {
    bottom: 238.266667pt;
  }
  .y30 {
    bottom: 247.066667pt;
  }
  .y46 {
    bottom: 247.226667pt;
  }
  .y15 {
    bottom: 264.506667pt;
  }
  .y45 {
    bottom: 276.826667pt;
  }
  .y2f {
    bottom: 280.666667pt;
  }
  .y61 {
    bottom: 292.226667pt;
  }
  .y14 {
    bottom: 294.306667pt;
  }
  .y44 {
    bottom: 306.786667pt;
  }
  .y2e {
    bottom: 317.826667pt;
  }
  .y13 {
    bottom: 327.906667pt;
  }
  .y60 {
    bottom: 332.706667pt;
  }
  .y43 {
    bottom: 336.706667pt;
  }
  .y2d {
    bottom: 347.426667pt;
  }
  .y12 {
    bottom: 365.026667pt;
  }
  .y5f {
    bottom: 373.346667pt;
  }
  .y51 {
    bottom: 377.186667pt;
  }
  .y2c {
    bottom: 377.346667pt;
  }
  .y11 {
    bottom: 394.626667pt;
  }
  .y2b {
    bottom: 407.106667pt;
  }
  .y50 {
    bottom: 410.786667pt;
  }
  .y5e {
    bottom: 413.826667pt;
  }
  .y10 {
    bottom: 424.546667pt;
  }
  .y42 {
    bottom: 440.706667pt;
  }
  .y2a {
    bottom: 447.906667pt;
  }
  .yf {
    bottom: 454.306667pt;
  }
  .y29 {
    bottom: 477.506667pt;
  }
  .y41 {
    bottom: 477.666667pt;
  }
  .y5d {
    bottom: 494.946667pt;
  }
  .ye {
    bottom: 495.106667pt;
  }
  .y40 {
    bottom: 507.453333pt;
  }
  .y28 {
    bottom: 511.293333pt;
  }
  .yd {
    bottom: 524.733333pt;
  }
  .y5c {
    bottom: 535.453333pt;
  }
  .y3f {
    bottom: 537.213333pt;
  }
  .y27 {
    bottom: 548.253333pt;
  }
  .yc {
    bottom: 558.493333pt;
  }
  .y3e {
    bottom: 567.133333pt;
  }
  .y5b {
    bottom: 575.933333pt;
  }
  .y26 {
    bottom: 578.013333pt;
  }
  .yb {
    bottom: 595.453333pt;
  }
  .y4f {
    bottom: 607.613333pt;
  }
  .y25 {
    bottom: 607.773333pt;
  }
  .y5a {
    bottom: 616.413333pt;
  }
  .ya {
    bottom: 625.213333pt;
  }
  .y3d {
    bottom: 637.533333pt;
  }
  .y24 {
    bottom: 637.693333pt;
  }
  .y4e {
    bottom: 641.373333pt;
  }
  .y9 {
    bottom: 654.973333pt;
  }
  .y59 {
    bottom: 657.053333pt;
  }
  .y3c {
    bottom: 671.133333pt;
  }
  .y23 {
    bottom: 678.333333pt;
  }
  .y8 {
    bottom: 684.893333pt;
  }
  .y58 {
    bottom: 697.533333pt;
  }
  .y22 {
    bottom: 708.093333pt;
  }
  .y3b {
    bottom: 708.253333pt;
  }
  .y7 {
    bottom: 725.533333pt;
  }
  .y3a {
    bottom: 737.893333pt;
  }
  .y57 {
    bottom: 738.053333pt;
  }
  .y21 {
    bottom: 741.733333pt;
  }
  .y6 {
    bottom: 755.333333pt;
  }
  .y39 {
    bottom: 767.813333pt;
  }
  .y56 {
    bottom: 778.533333pt;
  }
  .y20 {
    bottom: 778.693333pt;
  }
  .y5 {
    bottom: 788.933333pt;
  }
  .y38 {
    bottom: 797.573333pt;
  }
  .y1f {
    bottom: 808.453333pt;
  }
  .y55 {
    bottom: 812.133333pt;
  }
  .y4 {
    bottom: 831.173333pt;
  }
  .y1e {
    bottom: 838.373333pt;
  }
  .y4d {
    bottom: 842.053333pt;
  }
  .y54 {
    bottom: 849.093333pt;
  }
  .y37 {
    bottom: 867.973333pt;
  }
  .y1d {
    bottom: 868.133333pt;
  }
  .y53 {
    bottom: 878.853333pt;
  }
  .y4c {
    bottom: 879.013333pt;
  }
  .y3 {
    bottom: 885.093333pt;
  }
  .y68 {
    bottom: 887.493333pt;
  }
  .y36 {
    bottom: 901.733333pt;
  }
  .y4b {
    bottom: 908.613333pt;
  }
  .y1c {
    bottom: 908.773333pt;
  }
  .y66 {
    bottom: 916.773333pt;
  }
  .y2 {
    bottom: 925.093333pt;
  }
  .y1b {
    bottom: 938.533333pt;
  }
  .y35 {
    bottom: 938.693333pt;
  }
  .h7 {
    height: 35.232pt;
  }
  .h6 {
    height: 65.92pt;
  }
  .h3 {
    height: 72.485pt;
  }
  .h5 {
    height: 73.6288pt;
  }
  .h8 {
    height: 88.486563pt;
  }
  .h2 {
    height: 98.296875pt;
  }
  .h4 {
    height: 118.265pt;
  }
  .h0 {
    height: 1056pt;
  }
  .h1 {
    height: 1056.666667pt;
  }
  .w3 {
    width: 38.72pt;
  }
  .w4 {
    width: 38.752pt;
  }
  .w5 {
    width: 38.88pt;
  }
  .w6 {
    width: 38.912pt;
  }
  .w2 {
    width: 815.999988pt;
  }
  .w0 {
    width: 816pt;
  }
  .w1 {
    width: 816.666667pt;
  }
  .x0 {
    left: 0pt;
  }
  .x8 {
    left: 8.64pt;
  }
  .x7 {
    left: 13.92pt;
  }
  .x6 {
    left: 90.752pt;
  }
  .x2 {
    left: 96.031988pt;
  }
  .x1 {
    left: 120.031988pt;
  }
  .x9 {
    left: 130.912pt;
  }
  .xa {
    left: 170.906667pt;
  }
  .xb {
    left: 211.066667pt;
  }
  .xc {
    left: 251.226667pt;
  }
  .xd {
    left: 291.266667pt;
  }
  .xe {
    left: 331.426667pt;
  }
  .x3 {
    left: 355.746655pt;
  }
  .xf {
    left: 371.586667pt;
  }
  .x5 {
    left: 373.186655pt;
  }
  .x10 {
    left: 411.746667pt;
  }
  .x11 {
    left: 451.933333pt;
  }
  .x12 {
    left: 492.093333pt;
  }
  .x13 {
    left: 532.093333pt;
  }
  .x14 {
    left: 572.253333pt;
  }
  .x15 {
    left: 612.453333pt;
  }
  .x16 {
    left: 652.613333pt;
  }
  .x4 {
    left: 720.133321pt;
  }
}
.pf {
  width: 85%;
  position: relative;
  background-color: white;
  overflow: hidden;
  margin: 0;
  border: 0;
  margin: 13px auto;
  box-shadow: 1px 1px 3px 1px #333;
  border-collapse: separate;
}
.pc {
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
.c {
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
}
.t {
  position: absolute;
  white-space: pre;
  font-size: 8rem;
  font-weight: 500;
  transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  unicode-bidi: bidi-override;
  -moz-font-feature-settings: "liga" 0;
}
.bi {
  width: 620px;
  position: absolute;
  border: 0;
  margin: 0;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.t:before {
  content: "";
  display: inline-block;
}
.t:after {
  content: "";
}
#page-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
